.fila-resaltada{
    background-color: #cfc;
}
.logomovil{
    width: 50px;
}
.margen{
    margin: auto 170px;
  }
  table{
    padding: 0.5rem 0.5rem !important;
  }

  @media only screen and (max-width: 576px) {
    .margen{
        margin: auto 10px;
      }
}
.card-header{
padding: 11px !important;
}
.data{
  color: #000;
text-align: center;
font-family: 'Roboto Condensed', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}