
.form-input-admin{
    margin: 0px !important; 

}
.form-input-admin::placeholder {
    color: #000000cc !important;
    font-size: 16px;
}

input{
    background:#ffffff4d;
    opacity:  90%;
    height: 35px;
    /* padding: 2px; */
    width: 75%;
    border-radius: 10px;
    /* border: 2px solid #00a354; */
    /* margin: 10px 40px!important; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #000000;
  }



/* Styles for Cards Icons */
.card-icon {
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Red Card Icon */
.card_red {
  width: 16px;
  height: 24px;
}

/* Yellow Card Icon */
.card_yellow {
  width: 16px;
  height: 24px;
}

/* Adjust Spacing Between Image and Text */
.card-icon img {
  margin-top: 4px;
}
  
.celda-equipos {
  display: flex; /* Activa flexbox solo dentro de la celda */
  justify-content: space-evenly; /* Espacio igual entre los elementos */
  align-items: center; /* Alinea elementos verticalmente */
 
}




  
  /* .eliminatorias */
  
  
  .esquema {
    display: flex;
    justify-content: center;        
  }
  
  /* Lineas */
  .conectores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
  }
  .conectores .conector {
    display: flex;
    align-items: center;
  }
  .conectores .conector .conector_doble {
    width: 40px;
    height: 50px;        
    padding: 10px;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);    
  }
  
  .conectores .conector .conector_simple {
    width: 20px;    
    padding: 0 15px 0 0;
    border: 1px solid rgb(0, 0, 0);
    
  }
  
  .conectores .conector .conector_doble_semifinal {
    height: 150px;
  }
  
  .conectores .conector .conector_doble_ganador {
    height: 300px;
  }
  
  .equipo {
    font-size: 15px;
    text-transform: capitalize;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
  }


  
  .goles {
    color: #000;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    margin-right: 5px;
    
    
  }
  
  /* Octavos de finl */
  
  .partido {
   
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;    
    padding: 10px 0 10px 10px;   
  }
  
  .partido .jugador {
    
    width: 155px;
    border-radius: 5px;
    background-color: #D9D9D9; 
    border: 2px solid #000000; 
  
  }
  
  .partido .jornada{
   
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .partido .jornada:hover{
    scale: 1.02;
  }
  
  .partido .jornada .jugador {
 
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  
  
  /* Cuartos de final */
  .jornada_contenedor  {
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
  }
  
  .jornada_contenedor .jornada .jugador {
    width: 155px;
    padding: 1px;
    border-radius: 5px;
    background-color: #D9D9D9; 
    border: 2px solid #000; 
    display: flex;
    justify-content: flex-start;
    align-items: center
  
  
  }
  /* Ganador */
  .esquema .ganador_esquema {    
    display: flex;
    flex-direction: row;
    align-items: center;          
  }
  .esquema .ganador {    
    height: auto;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
        
  }
  
  .esquema .conectores_ganador {
    display: flex;
    align-items: center;    
  }
  .esquema .ganador .jugador {
    width: 150px;
    padding: 10px;               
    background-color: #D9D9D9; 
    border: 2px solid #000; 
    border-radius: 5px;
  }
  
  .titulos {
      margin: 0 auto;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 20px; 
  }
  .titulos-admin{
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px; 
  }
  .titulo {
  padding: 8px 15px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Days One', sans-serif;
  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.53px; /* 175.217% */
    letter-spacing: 0.263px;
    text-transform: uppercase;
    width: 155px;
    background: linear-gradient(180deg, #152039 0%, #0F162A 100%);
    color: #FFF;
    border-radius: 3px;
    /* border: 1px solid #ffffff78; */
     border: 1px solid #4A5C7F;

    text-shadow: 0px 2px 3px #4a5c7f;
  }
  
  .win {
    background: linear-gradient(180deg, #152039 0%, rgba(0, 191, 99, 0.65) 100%)!important;
  }
  
  .win .goles {
   
    color: #fff;
  }
  
  .win .equipo {
  
    color: #fff;
  }
  .win2 {
    background-color: #09537ec2!important;
  }
  
  .win2 .goles {
   
    color: #fff;
  }
  
  .win2 .equipo {
  
    color: #fff;
  }


  
  
  
  /* Media//////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////// */
  
  
  
  @media (max-width: 1200px) {
    .team-item:nth-child(n + 7) {
      display: none;
  }
  
    table {
        width: 100%;
        max-width: none; 
    }
  }
  
  @media (max-width: 1024px) {
    
  }
  
  @media  (max-width: 991px) {  
    /* Estilos para pantallas medianas, como tabletas */ 
    .conectores .conector .conector_doble {
      width: 8px;
  
  }
  .jornada_contenedor .jornada .jugador{
    width: 125px;
  }
  .titulos{
    width: 100%;
    display: flex;
      justify-content: space-around;
  }
  .titulo {
    width: 126px;
  }
  .equipo{
    font-size: 12px;
  }
  .goles{
    font-size: 14px;
  }
  
  .esquema .ganador .jugador{
    width: 140px;
  }
  
      .team-item:nth-child(n + 6) {
        display: none;
    }
    .score{
      font-weight:bold
    }
    .hiden{
      display: none;
    }
  
    .hiden2{
      display: none!important;
    }

    .team-hover{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

   


    .team {
      color: #000;
      font-family: 'Roboto Condensed', sans-serif;
   
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: left;
    }
  }
  
  
  @media (max-width: 768px) {
    
    .logo{
      width: 30px;
    }
    .logomovil{
      width: 50%;
    }
    .movil2{
      display: flex;
      justify-content: space-between;
    }
    
  
    .team-item:nth-child(n + 4) {
      display: none;
  }
  
  .hiden2{
    display: none!important;
  }
    .inner-card {
      width: 80px;
      height: 90px;
      margin: 0px;
      background-color: #F5F5F5; 
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
    }
    .hiden{
      display: none;
    }
    .score{
      font-weight: bolder;
    }
    .titulo2{
      text-align: center;
       font-family: 'Days One', sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: linear-gradient(180deg, rgba(0, 191, 99, 0.80) 0%, rgba(9, 83, 126, 0.80) 100%);
      background-clip: text;
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  
  
    /* cuadro */
     .conectores .conector .conector_doble {
      width: 1px;
      padding: 2px;
  
  }
  .jornada_contenedor .jornada .jugador{
    width: 80px;
  }
  .conectores .conector .conector_simple{
    width: 2px;
    padding: 0 2px 0 0;
  }
  .titulos{
    width: 99%;
    display: flex;
    justify-content: space-between;
  }
  .titulo {
    width: 80px;
    font-size: 10px;
  }
  .equipo{
    font-size: 12px;
  }
  .goles{
    font-size: 13px;
  }
  
  .esquema .ganador .jugador{
    width: 80px;
  }
  
    .team-item:nth-child(n + 6) {
      display: none;
   }
   .TITULO{
    font-size: 17px;
  }
  }
  
  
  @media (max-width: 720px) {
  
    .TITULO{
      font-size: 17px;
    }
  
    /* Estilos para pantallas más pequeñas, como teléfonos móviles */
    .team-item:nth-child(n + 4) {
      display: none;
  
  
  }
  
  .hiden2{
    display: none!important;
  }
    .inner-card {
      width: 80px;
      height: 90px;
      margin: 0px;
      background-color: #F5F5F5; 
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
    }
    .hiden{
      display: none;
    }
    .score{
      font-weight: bolder;
    }
    .titulo2{
      text-align: center;
      font-family: 'Days One', sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: linear-gradient(180deg, rgba(0, 191, 99, 0.80) 0%, rgba(9, 83, 126, 0.80) 100%);
      background-clip: text;
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

   
  

    
  
    /* cuadro */
     .conectores .conector .conector_doble {
      width: 1px;
      padding: 2px;
  
  }
  .jornada_contenedor .jornada .jugador{
    width: 80px;
  }
  .conectores .conector .conector_simple{
    width: 2px;
    padding: 0 2px 0 0;
  }
  .titulos{
    width: 99%;
    display: flex;
    justify-content: space-between;
  }
  .titulo {
    width: 80px;
    font-size: 10px;
  }
  .equipo{
    font-size: 12px;
  }
  .goles{
    font-size: 13px;
  }
  
  .esquema .ganador .jugador{
    width: 80px;
    font-size: 12px;
  }
  
    .team-item:nth-child(n + 6) {
      display: none;
   }
    
  
  }
  
  /* mi cel */
  @media (max-width: 480px) {
    .number{
      font-size: 11px;
    }
    .conectores .conector .conector_doble {
      width: 2px;
      padding: 2px;
  
  }
  .jornada_contenedor .jornada .jugador{
    width: 90px;
  }
  .conectores .conector .conector_simple{
    width: 1px;
    padding: 0 1px 0 0;
  }
  .titulos{
    margin-left: 1px;
    width: 99%;
    display: flex;
    justify-content: space-between;
  }
  
  .titulo {
    font-weight: 600;
     font-family: 'Days One', sans-serif;
      width: 100%;
      font-size: 10px;
  }
  .equipo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9px;
  }
  .goles{
    font-family: 'Days One', sans-serif;
    font-size: 9px;
    margin-right: 2px;
    font-style: bold;
    font-weight: 200;
  
  
  }
  .score{
    font-size: 12px;
    font-weight:600
  }
  
  .esquema .ganador .jugador{
    padding: 0px;
    font-size: 10px;
    height: 30px;
    width: 74px;
  }
  .logo{
    width: 31px;
  }
  .partido{
    padding: 0px;

  }
  
  .TITULO{
    font-size: 20px;
  }
    
    
    
  }
  
  @media (max-width: 375px) {
    .TITULO{
      font-size: 20px;
    }
    .conectores .conector .conector_doble {
      width: 0%;
      padding: 0px;
      border: 1px solid #000;
    
  
  }
  .jornada_contenedor .jornada .jugador{
    width: 95px;
    border: 1px solid #000;
  }
  .conectores .conector .conector_simple{
    width: 0px;
    padding: 0 0px 0 0;
    border: 1px solid #000;
  }
  .titulos{
    margin: 0 auto;
    width: 100%;
    display: flex;
  
    justify-content: space-evenly;
    margin-top: 20px; 
  }
  .titulo {
    margin-left: 1px;
    width: 95px;
    font-size: 10px;
  }

  

  .goles{
    font-size: 10px;
    margin-right: 6px;
  }
  
  .esquema .ganador .jugador{
    width: 65px;
    font-size: 11px;
    border: 1px solid #000;
  }
  
  .partido{
    padding: 0px;
  }
  
    
  }
  
  @media (max-width: 320px) {
    .TITULO{
      font-size: 17px;
    }
    .conectores .conector .conector_doble {
      width: 1px;
      padding: 1px;
  
  }
  .jornada_contenedor .jornada .jugador{
    width: 90px;
  }
  .conectores .conector .conector_simple{
    width: 2px;
    padding: 0 2px 0 0;
  }
  .titulos{
    width: 99%;
    display: flex;
    justify-content: space-between;
  }
  .titulo {
    width: 80px;
    font-size: 10px;
  }
  .equipo{
    font-size: 12px;
  }
  .goles{
    font-size: 13px;
  }
  
  .esquema .ganador .jugador{
    width: 80px;
  }
  
    
  }

  
  
  
  

 




