.nav-color{
    background:  linear-gradient(180deg, #152039 0%, #00bf63cc 100%);
}
a{
    color: white!important;
    border-bottom: none!important;
    text-decoration: inherit!important;
    margin-left: 15px;
}
a:hover{
    color: white!important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.889)!important;
    border-radius: 3px!important;
    text-decoration: inherit!important;
}
p{
    padding-right: 15px;
}