
.contenido{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}



.boton-torneo {
  
    overflow: hidden;
    position: relative;
    font-size: 35px;
    border: 3px solid #0000;
    width: 500px;
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: linear-gradient(180deg, #152039 30%, #00bf638b 100%); */
    /* background: linear-gradient(180deg, #00BF63 0%, #09537E 100%); */
    background: linear-gradient(180deg, #00BF63 0%, #09537E 100%) padding-box,
    linear-gradient(180deg, #007A3A 0%, #064062 100%)  border-box;
  
}
.BoxCard:hover{
  
  border-bottom: none!important;
 
}


/* .pr{
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #0000;
    background: linear-gradient(red, blue) padding-box,
    linear-gradient(orange ,rgb(74, 218, 8)) border-box;
} */



.boton-torneo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png");
    background-repeat: no-repeat;
    background-size: 36%;  
    background-position: -17% -20%, 24% 102%, 82% 145%, 117% -25%;
    opacity: 0.3; 
    z-index: 1;
}
.boton-torneo span {
  letter-spacing: 0.02em;
    color: #FFF;
text-transform: capitalize;
    /* text-shadow: 
    -2px -2px 0 #000000, 
    2px -2px 0 #000000, 
    -2px 2px 0 #000000, 
    2px 2px 0 #000000;  */
    text-shadow: 
    1px 1px 3px rgba(0, 0, 0, 0.8), 
    -1px -1px 3px rgba(0, 0, 0, 0.4);
    font-family: "Days One", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2; 
}



.table-container table {
  min-width: 900px; /* Ajusta este valor según la cantidad de columnas */
  border-collapse: collapse!important;
}


body.fondo-1 {
  position: sticky;
 
}

body.fondo-2 {
  position: sticky;
 
}


 body.fondo-1::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
  url("./../../assets/Group(1).png"),
  url("./../../assets/Vector(3).png"),
  url("./../../assets/Vector(4).png"),
  url("./../../assets/Group.png");
  background-repeat: no-repeat;
  background-size: 13%, 12%, 12%, 11%;
  background-position: -1% 18%, 0% 105%, 99% 99%, 100% 15%;
  opacity: 0.5;
  z-index: -1;
 }

  body.fondo-1::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
                    url("./../../assets/Soccer.png"),
                    url("./../../assets/Soccer.png");
  background-repeat: no-repeat;
  background-size: 34%;
  background-position:  25% 272%, 85% 290%;
  opacity: 0.4;
  z-index: -2;
}




/* body.fondo-1::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/Ellipse1.svg"),
                    url("./../../assets/Ellipse2.svg"),
                    url("./../../assets/Ellipse2.svg"),
                    url("./../../assets/Ellipse2.svg"),
                     url("./../../assets/Ellipse1.svg");
  background-repeat: no-repeat;
  background-size: 25%, 10%, 20%, 15%, 25%;
  background-position: -25% 15%, -1% 99%, 60% 120%, 105% 12%,  110% 135%;
  opacity: 0.9;
  z-index: -1;
} */


/* body.fondo-1::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/Soccer.png"),
                    url("./../../assets/Soccer.png"),
                    url("./../../assets/Soccer.png"),
                    url("./../../assets/Soccer.png");
  background-repeat: no-repeat;
  background-size: 34%;
  background-position: -17% 35%, 25% 272%, 85% 290%, 110% 35%;
  opacity: 0.3;
  z-index: -1;
} */

.LOGO{
  width: 109px;
}

 body.fondo-2::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
  url("./../../assets/Group(1).png"),
  url("./../../assets/Vector(3).png"),
  url("./../../assets/Vector(4).png"),
  url("./../../assets/Group.png");
  background-repeat: no-repeat;
  background-size: 13%, 12%, 12%, 11%;
  background-position: -1% 18%, 0% 105%, 99% 99%, 100% 15%;
  opacity: 0.38;
  z-index: -1;
 }

/* Personalización del scrollbar */
.table-container::-webkit-scrollbar {
  height: 12px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #2271D1;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #2271d198;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  display: block;
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
  /* -webkit-overflow-scrolling: touch; Scroll suave en iOS */
}

@media (max-width: 368px) {

body.fondo-1 {
 display: block;
 
}

body.fondo-1::after {
  display: none;
  
}

  .table-container table {
    min-width: 900px; /* Ajusta según la cantidad de columnas */
  }
}

/* .text-title{
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    text-shadow: 
    /* -2px -2px 0 #00BF63CC, 
    2px -2px 0 #00BF63CC, 
    -2px 2px 0 #00BF63CC, 
    2px 2px 0 #00BF63CC, 
    0px 4px 6px #000000cc;  */
      /* text-shadow: .1em .1em 0 #09537E; */
    /* font-family: "Days One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;

} */ 
.text-title{
text-transform: uppercase;
color: #09537E; 
text-align: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
font-family: "Days One", sans-serif;
font-size: 40px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 6px;
}

@media (max-width: 1366px) {

  .text-title{
    text-transform: uppercase;
    color: #09537E; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Days One", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 6px;
    }

  .boton-torneo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png");
    background-repeat: no-repeat;
    background-size: 35%;  
    background-position: -17% -30%, 27% 112%, 80% 176%, 117% -35%;
    opacity: 0.3; 
    z-index: 1;
}

  .contenido{
    display: flex;
    justify-content: space-around;
}
button.boton-torneo.btn-button-general {
    margin: auto!important;
}
.boton-torneo {  
  height: 270px; 
  font-size: 30px; 
}
button.boton-torneo.btn-button-general:last-child {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 768px) {

  body.fondo-1 {
 display: block;
 
}

body.fondo-1::after {
  display: none;
  
}

  .text-title{
    text-transform: uppercase;
    color: #09537E; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Days One", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 6px;
    }
    .contenido {
      justify-content: center;
    }
    .boton-torneo {
      font-size: 25px;
      border: 3px solid transparent;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(180deg, #00BF63 0%, #09537E 100%) padding-box,
                  linear-gradient(180deg, #007A3A 0%, #064062 100%) border-box;
      overflow: hidden;
    }

    .boton-torneo:last-of-type {
        margin-bottom: 15px !important; /* Espacio al último botón */
      }
  }
  


/* Media query para pantallas más pequeñas (480px) */
@media (max-width: 480px) {
 .btn-back{
    margin: 10px 15px !important;
  }
  .text-title{
    text-transform: uppercase;
    color: #09537E; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Days One", sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 6px;
    }
  .boton-torneo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png"), 
                      url("./../../assets/Soccer.png");
    background-repeat: no-repeat;
    background-size: 36%;  
    background-position: -17% -20%, 24% 102%, 82% 120%, 117% -25%;
    opacity: 0.3; 
    z-index: 1;
}
    .contenido{
        display: block;
    }
    button.boton-torneo.btn-button-general {
        margin: auto!important;
    }
    .boton-torneo {
      width: 90%;  
      height: 250px; 
      font-size: 30px; 
    }
    button.boton-torneo.btn-button-general:last-child {
        margin-bottom: 30px !important;
      }
      .BoxCard{
        display: contents !important;
        }
  }
  
  /* Media query para pantallas aún más pequeñas (360px) */
  @media (max-width: 360px) {
    .BoxCard{
      display: contents!important;
      }
    .contenido{
        display: block;
    }

    button.boton-torneo.btn-button-general {
        margin: auto!important;
    }
    .boton-torneo {
      width: 80%; 
      height: 220px;
      font-size: 25px; 
    }
    button.boton-torneo.btn-button-general:last-child {
        margin-bottom: 30px !important;
      }
  }
  
  /* Media query para pantallas extremadamente pequeñas (320px) */
  @media (max-width: 320px) {
  .btn-back{
    margin: 10px 15px !important;
  }
    
    .contenido{
        display: block;
    }
    button.boton-torneo.btn-button-general {
        margin: auto;
    }
    .boton-torneo {
      width: 90%; 
      height: 200px; 
      font-size: 22px; 
    }

    
    button.boton-torneo.btn-button-general:last-child {
        margin-bottom: 30px !important;
      }
  }
