footer {
  height: 46px;
  width: 100%;
  /* bottom: 0;
  left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
 
  /* background: linear-gradient(180deg, #152039 90%, #152039cc 100%); */

background:linear-gradient(180deg, #152039 0%, #0F162A 100%);


  padding: 2px 0;
 
}

.text_footer {
  color: white;
  font-size: 13px;
  margin: 0;
}

/* Para dispositivos más pequeños en landscape (vertical) */
/* @media (max-width: 768px) and (orientation: portrait) {
  .footer{
   
    position: fixed;
    
  }
 

} */
