.cargando{
    width: 300px;
    filter: drop-shadow(3px 3px 3px #00000040);
    animation: carga 1.5s ease-in-out infinite;
}
.cargandologin{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    transform: translate(-50%, -50%);
    opacity: 1;
   
    animation: cargandologin 2s infinite;
  
}



@keyframes cargandologin {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.15);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }

    
}
@keyframes carga {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.15);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 576px) {
    .cargando{
        width: 200px;
        filter: drop-shadow(4px 4px 4px #00000040);
        animation: carga 2.5s infinite;
    }

    .cargandologin{
        width: 200px;
        filter: drop-shadow(4px 4px 4px #00000040);
        animation: carga 2.5s infinite;
        top: 35%;
        left: 20%;
    }
}