.cargando{
    width: 400px;
    filter: drop-shadow(3px 3px 3px #00000040);
    animation: carga 2s infinite;
}
@keyframes carga {
    0%{
     transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.2);
    }

    
}