:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  --bs-body-bg:  radial-gradient(circle at center, #0b2d1a 0%, #050505 100%) no-repeat fixed !important;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}
.layout {
  display: flex;
  flex-direction: column;
  min-height:100dvh;
}


.main-content {
  flex-grow: 1; 
}


a {
  font-weight: 500;
  color: #dcb505;
  text-decoration: inherit;
}
a:hover {
  color: #f8f8f8;
}
/* --- CONFIGURACIÓN PARA PC Y PANTALLAS GRANDES --- */
/* Esta regla se aplica a todo, por defecto */
.inicio-background {
  /* Imagen de PC (Horizontal o Principal) */
  background-image: url('./src/assets/Desktop-28.png')!important ;
background-size: 100% 100% !important;
  background-position: center;
  background-repeat: no-repeat;

  height: 100dvh;  /* Mejor que 100vh en móviles modernos */
  width: 100%;
}

/* --- CONFIGURACIÓN PARA MÓVILES --- */
/* Esta regla solo se activa en pantallas pequeñas y sobrescribe la anterior */
@media (max-width: 768px) {
  .inicio-background {
    /* USA LA IMAGEN DE MÓVIL (VERTICAL) AQUÍ */
    background-image: url('./assets/iPhoneAir-1.png')!important;

background-repeat: no-repeat;
background-size: 100% 100% !important;
background-position: center;
background-color: #000; /* para evitar bordes blancos */
   height: 100dvh; 
   
    
  
   
  }
}

body {
 display: block;
 min-height: 100dvh;
 background: #dfdfe3 !important;
    /* background-image: */
                      /* url('./assets/Gemini_Generated_Image_yths4kyths4kyths.png'); O una URL de internet */

 /* grid-template-columns: auto 1fr auto; */

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-button {
  border-radius: 8px;
  border: 2px solid ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
background: #1A1A1A;
border: solid #3F3F3F;
  cursor: pointer;
  color: #ffffff;
  /* transition: ; */
  transition: border-color 0.25s;
}
.btn-button:hover {
 
  border-color: #ffffff;
}
.btn-button:focus,
.btn-button:focus-visible {
  outline: 40px auto -webkit-focus-ring-color;
}

.fondo-imagen{
       background-image:
                      url('./assets/Vector_9_1.svg'); /* O una URL de internet */
    background-size: cover;
    background-position: center;
    border-radius: 1px;
   color: white;
    }

/* Solo se activa en pantallas pequeñas */
@media only screen and (max-width: 576px) {
    .fondo-imagen {
        display: block; /* Lo mostramos */
      
        background-image: url("./assets/Vector220.svg");
        
      
        border-radius: 1px;
        color: white;
    }
}



button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
 background: #1A1A1A;
border: solid #3F3F3F;
  cursor: pointer;
  color: #ffffff;
  /* transition: ; */
  /* transition: border-color 5.85s; */
}
button:hover {
 
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 40px auto -webkit-focus-ring-color;
}
